<div class="bgComponent">
  <div class="title-principal-mobile"><h1>Añadir objetivo</h1></div>
  <div class="form">
    <mat-card class="card">
      <mat-card-content>
        <div class="title-principal"><h1>Añadir objetivo</h1></div>
        <div class="container">
          <mat-form-field>
            <mat-label>Nombre de objetivo</mat-label>
            <input
              #inputName
              type="text"
              [(ngModel)]="registerData.name"
              matInput
              placeholder="Por ej. Tener una casa propia"
              required
              minlength="5"
              (keyup.enter)="saveDreamImg()"
            />
            <mat-error
              mat-error
              *ngIf="registerData.name || inputName.required"
            >
              El nombre del objetivo es <strong>obligatorio</strong> (min. 5
              caracteres)
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              #inputDescription
              [(ngModel)]="registerData.description"
              matInput
              placeholder="Descripción"
              (keyup.enter)="saveDreamImg()"
            />
            <mat-error
              mat-error
              *ngIf="registerData.description || inputDescription.required"
            >
              La descripción es <strong>obligatoria</strong>
            </mat-error>
          </mat-form-field>
          <input type="file" (change)="uploadImg($event)" />
        </div>
      </mat-card-content>
      <mat-card-actions
        class="
          container-fluid
          d-inline-flex
          justify-content-center
          ms-sm-auto
          ps-auto ps-sm-0
        "
      >
        <!-- <button (click)="saveDream()" class="button" mat-raised-button>
            Create
          </button> -->
        <button
          class="button"
          mat-raised-button
          (click)="saveDreamImg()"
          [disabled]="!registerData.name || !registerData.description"
        >
          Crear
        </button>
        <button (click)="cancelDream()" class="button-2" mat-raised-button>
          Cancelar
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<app-footer></app-footer>
