<nav class="navbar navbar-expand-lg">
  <div class="toggler-principal">
    <button
      class="navbar-toggler navbar-dark shadow-none"
      (click)="sidenav.toggle()"
      *ngIf="_userService.loggedIn()"
    >
      <mat-icon class="navbar-toggler-icon"></mat-icon>
    </button>
    <a
      class="navbar-brand"
      href="/"
      *ngIf="!_userService.loggedIn()"
      style="padding-left: 45px"
    ></a
    ><span class="title-logo">OrganizApp</span>
  </div>

  <button
    class="navbar-toggler shadow-none admin"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav2Dropdown"
    aria-controls="navbarNav2Dropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
    *ngIf="_userService.loggedIn() && _userService.isAdmin()"
  >
    <i
      class="fas fa-users-cog"
      *ngIf="_userService.loggedIn() && _userService.isAdmin()"
    ></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav2Dropdown">
    <span class="headerSpacer"></span>
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="_userService.loggedIn()">
        <a routerLink="../listTask" class="nav-link"
          ><i class="far fa-calendar-check"></i
        ></a>
      </li>
      <li class="nav-item" *ngIf="_userService.loggedIn()">
        <a routerLink="../saveTask" class="nav-link"
          ><i class="far fa-edit"></i
        ></a>
      </li>
      <li class="nav-item" *ngIf="_userService.loggedIn()">
        <a routerLink="../saveDream" class="nav-link"
          ><i class="fas fa-thumbtack"></i
        ></a>
      </li>
      <li class="nav-item" *ngIf="_userService.loggedIn()">
        <a routerLink="../listDream" class="nav-link"
          ><i class="far fa-star"></i
        ></a>
      </li>
      <!-- <li class="nav-item dropdown schedule">
        <a
          class="nav-link"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          *ngIf="_userService.loggedIn()"
        >
          <i class="fas fa-plus"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown2MenuLink">
          <li>
            <a class="dropdown-item" *ngIf="_userService.loggedIn()" routerLink="saveDream"
              >Crear objetivo</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              *ngIf="_userService.loggedIn()"
              routerLink="listTask"
              >Lista de objetivos</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              *ngIf="_userService.loggedIn()"
              routerLink="saveTask"
              >Lista de tareas</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              *ngIf="_userService.loggedIn()"
              routerLink="saveTask"
              >Crear tarea</a
            >
          </li>
        </ul>
      </li> -->
      <div
        class="collapse navbar-collapse admin"
        id="navbarNavDarkDropdown"
        *ngIf="_userService.loggedIn() && _userService.isAdmin()"
      >
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDarkDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Admin
            </a>
            <ul
              class="dropdown-menu"
              aria-labelledby="navbarDarkDropdownMenuLink"
            >
              <li>
                <a class="dropdown-item" routerLink="listUser">Usuarios</a>
              </li>
              <li><a class="dropdown-item" routerLink="listRole">Roles</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </ul>
  </div>
  <li class="nav-item">
    <a
      class="nav-link"
      *ngIf="!_userService.loggedIn()"
      mat-button
      routerLink="signUp"
      >Regístrate</a
    >
  </li>
  <li>
    <a
      class="nav-link"
      *ngIf="!_userService.loggedIn()"
      mat-button
      routerLink="login"
      >Iniciar sesión</a
    >
  </li>
  <li>
    <a
      class="nav-link"
      *ngIf="_userService.loggedIn()"
      mat-button
      (click)="_userService.logout()"
      ><i class="fas fa-sign-out-alt"></i
    ></a>
  </li>
</nav>

<mat-sidenav-container>
  <mat-sidenav
    #sidenav="matSidenav"
    mode="side"
    [(opened)]="opened"
    *ngIf="_userService.loggedIn()"
  >
    <button mat-button class="menu-button" routerLink="../listTask">
      <mat-icon>event_available</mat-icon>
      <span>Agenda</span>
    </button>
    <!-- <button mat-button class="menu-button">
      <mat-icon>event_note</mat-icon>
      <span>Calendario</span>
    </button> -->
    <button mat-button class="menu-button" routerLink="../saveTask">
      <mat-icon class="far fa-edit icn"></mat-icon>
      <span>Crear tareas</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="../saveDream">
      <mat-icon class="fas fa-thumbtack icn-2"></mat-icon>
      <span>Crear objetivo</span>
    </button>
    <button mat-button class="menu-button" routerLink="../listDream">
      <mat-icon class="far fa-star icn"></mat-icon>
      <span>Lista de objetivos</span>
    </button>
    <mat-divider></mat-divider>
    <!-- <mat-accordion>
      <mat-expansion-panel hideToggle="false">
        <mat-expansion-panel-header class="change-accordion">
          <mat-panel-title>
            <button mat-button class="menu-button">
              <mat-icon>headset</mat-icon>
              <span>Music</span>
            </button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description>
          <a class="menu-button" href="../../../../../Calm.html">Calm</a>
        </mat-panel-description>
        <mat-panel-description>
          <a class="menu-button">Category Y</a>
        </mat-panel-description>
        <mat-panel-description>
          <a class="menu-button">Category Z</a>
        </mat-panel-description>
        <mat-panel-description>
          <a class="menu-button">Category A</a>
        </mat-panel-description>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-divider></mat-divider> -->

    <!-- <button mat-button class="menu-button">
      <mat-icon>videogame_asset</mat-icon>
      <span routerLink="../homeGame">Game</span>
    </button> -->
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
