<footer class="container-fluid">
  <span>&copy; Desarrollado por Full Stack Family | 2021</span>
  <div class="container-fluid">
  <a href="https://www.facebook.com/people/Organiz-App/100075863771496/" target="_blank"><button type="button" class="mat-icon-button btn btn-floating mx-1">
    <i class="fab fa-facebook-f"></i>
  </button></a>

  <a href="https://www.instagram.com/organizapp1/?hl=es-la" target="_blank"><button type="button" class="mat-icon-button btn btn-floating mx-1">
    <i class="fab fa-instagram"></i>
  </button></a>

  <a href="https://twitter.com/stack_family" target="_blank"><button type="button" class="mat-icon-button btn btn-floating mx-1">
    <i class="fab fa-twitter"></i>
  </button></a>

  <a href="https://github.com/7-18/fsfamily" target="_blank"><button type="button" class="mat-icon-button btn btn-floating mx-1">
    <i class="fab fa-github"></i>
  </button></a>
  </div>
</footer>
