<div class="bgComponent">
  <div class="form">
    <mat-card class="card">
      <mat-card-title>Crea tu cuenta</mat-card-title>
      <mat-card-content>
        <div class="container">
          <mat-form-field>
            <mat-label>Nombre y apellido</mat-label>
            <input
              [(ngModel)]="registerData.name"
              matInput
              placeholder="Por ej. Chucho Sánchez"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Correo electrónico</mat-label>
            <input
              [(ngModel)]="registerData.email"
              type="email"
              matInput
              placeholder="ejemplo@gmail.com"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <input
              [(ngModel)]="registerData.password"
              type="password"
              matInput
              placeholder="Contraseña nueva"
              required
              (keyup.enter)="registerUser()"
                [type]="hide ? 'password' : 'text'"
                #inputPass
            />
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="registerUser()" class="button" mat-raised-button [disabled]="!registerData.name || !registerData.email || !registerData.password">
          Registrarte
        </button>
      </mat-card-actions>
      <p>
        ¿Ya tienes cuenta?
        <a routerLink="/login">Iniciar sesión</a>
      </p>
    </mat-card>
  </div>
</div>


