<div class="card-body card-group">
  <mat-card class="example-card card2">
    <div class="card card1">
      <mat-card-title class="title1">OrganizApp</mat-card-title>
      <mat-card-subtitle class="text-center pt-2 mt-2"
        >Te ayuda a cumplir tus metas
      </mat-card-subtitle>
      <img width="90%" src="../../../assets/fondo.jpg" alt="Card image" />

      <mat-carousel
        class="carousel"
        timings="250ms ease-in"
        [autoplay]="true"
        color="primary"
        maxWidth="auto"
        [loop]="true"
        [hideArrows]="false"
        [hideIndicators]="true"
        [useKeyboard]="true"
        [useMouseWheel]="false"
        mat-button="false"
        orientation="ltr"
      >
        <mat-carousel-slide
          class="indicators"
          #matCarouselSlide
          *ngFor="let slide of slides; let i = index"
          [image]="slide.image"
          color-indicators="#ed7b32;"
          [hideOverlay]="true"
        ></mat-carousel-slide>
      </mat-carousel>
    </div>
  </mat-card>

  <div class="card-body">
    <div class="form">
      <mat-card class="card cardlogin">
        <mat-card-title class="titlelogin">Iniciar sesión</mat-card-title>
        <mat-card-content>
          <div class="container">
            <mat-form-field>
              <mat-label>Correo electrónico</mat-label>
              <input
                [(ngModel)]="loginData.email"
                type="email"
                matInput
                placeholder="ejemplo@gmail.com"
                required
                (keyup.enter)="login()"
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Contraseña</mat-label>
              <input
                [(ngModel)]="loginData.password"
                type="password"
                matInput
                required
                (keyup.enter)="login()"
                [type]="hide ? 'password' : 'text'"
              />
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-hint *ngIf="!loginData.password">Ingrese su contraseña</mat-hint>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button
            (click)="login()"
            class="button"
            mat-raised-button
            [disabled]="!loginData.email || !loginData.password"
          >
            Ingresar
          </button>
        </mat-card-actions>
        <p>
          ¿No tienes cuenta?
          <a routerLink="/signUp">Regístrate</a>
        </p>
      </mat-card>
    </div>
  </div>
</div>
<app-footer></app-footer>
